.button {
  padding: 13px 0;
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: 0;

  &--small {
    font-size: 14px;
    line-height: 18px;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:active {
      color: $color-primary-pale;
    }
  }

  &--secondary {
    color: $color-tundora;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-dark;
    }

    &:active {
      color: $color-secondary-pale;
    }
  }
}
