.contacts {
  &--background-secondary {
    background-color: $color-secondary;
  }
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-codgray;
}

.contacts__address {
  @include default-text(14px, 20px);
}
