.main-promo {
  background: url('../img/index-background-mobile@1x.jpg') no-repeat;
  text-align: center;
  color: $color-white;
}
.main-promo__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-promo__slogan {
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
