.additional-product-card__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-mineshaft;
}

.additional-product-card__info {
  @include default-text(14px);
}

