.button {
  padding: 11px 4px;
  display: block;
  box-sizing: border-box;

  @include text-size(16px, 20px);
  font-family: $font-family-oswald;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;

  &--promo {
    @include text-size(14px, 18px);
  }

  &--primary {
    color: $color-white;
    background-color: $color-apple;

    &:hover {
      background-color: $color-apple-dark;
    }

    &:active {
      color: $color-mantis;
    }
  }

  &--secondary {
    color: $color-tundora;
    background-color: $color-concrete;

    &:hover {
      background-color: $color-silver;
    }

    &:active {
      color: $color-gallery;
    }
  }
}

@media (min-width: $tablet-width) {
  .button--submit,
  .button--promo {
    padding-top: 16px;
    padding-bottom: 16px;

    @include text-size(20px);
  }
}
