.contacts {
  display: flex;
}

.contacts--background-secondary {
  background-color: $color-concrete;
}

.contacts__text {
  width: 130px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-codgray;
}

.contacts__address {
  width: 140px;
  margin: 0;
  @include default-text(14px, 20px);
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding: 60px 70px;
    background-color: $color-white;
  }
}
