.control__label,
.control__input,
.control__text {
  @include control-text;
  color: $color-tundora;
}

.control__text {
  width: 100%;
}

.control__label {
  color: $color-mineshaft;

  &--required::after {
    content: "*";
  }
}
