.contacts {
  display: flex;
  align-items: center;
}

.contacts--background-secondary {
  background-color: $color-concrete;
}

.contacts__inner {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  @include inner-container--sm;
}

.contacts__text {
  width: 130px;
  padding-right: 10px;

  @include text-size(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  color: $color-codgray;
}

.contacts__address {
  width: 140px;
  margin: 0;

  @include default-text(14px, 20px);
}

@media (min-width: $tablet-width) {
  .contacts__text {
    width: 160px;

    @include text-size(20px, 25px);
  }

  .contacts__inner {
    @include inner-container--md;
    padding: 0 41px;
  }

  .contacts__address {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__address-city {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    width: 168px;
    text-align: left;
  }

  .contacts__inner {
    padding: 64px 76px 57px;
  }
}
