.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include default-text(16px);
  @include link--active;

  &:hover .copyright__image {
    fill: $color-apple;
  }

  &:active .copyright__image {
    fill: $color-apple;
  }
}

.copyright__text {
  padding-right: 22px;
  font-weight: 400;
}

.copyright__image {
  fill: $color-dove-gray;
  width: 27px;
  height: 35px;
}
