.footer__bottom {
  background-color: $color-concrete;
}

.footer__bottom-inner {
  @include inner-container--responsive;
}

.footer__map iframe {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 362px;
  border: 0;
}

.footer__logo {
  padding: 36px 0 29px 0;
  font-size: 0;
  text-align: center;
}

.footer__logo-link {
  display: inline-block;
}

.footer__logo-image {
  width: 130px;
  height: 27px;
}

.footer__social {
  padding: 21px 0;
  border-top: 1px solid $color-alto;
  border-bottom: 1px solid $color-alto;
}

.footer__contacts {
  padding: 28px 0;
}

.footer__copyright {
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
  }

  .footer__map iframe {
    height: 394px;
  }

  .footer__logo,
  .footer__copyright,
  .footer__social {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .footer__contacts {
    min-height: 197px;
    align-items: center;
    padding: 5px 0 0;
  }

  .footer__social {
    width: 135px;
  }

  .footer__logo {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
  }

  .footer__map iframe {
    height: 400px;
  }

  .footer__logo {
    margin-right: 30px;
  }

  .footer__contacts-container--lg {
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
  }

  .footer__contacts-container-inner--lg {
    @include inner-container--lg;
  }

  .footer__contacts {
    display: block;
    width: 570px;
    padding: 0;
    background-color: $color-white;
  }
}
