.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 12px;
  border-bottom: 1px solid $color-mercury;

  @include inner-container--sm;
  align-items: center;
}

.header__toggle {
  position: relative;
  width: 23px;
  height: 23px;
  padding: 0;
  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--on {
    background-image: url("../img/icon-close.svg");
    background-size: 17px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    padding: 23px 0;
    justify-content: space-between;

    @include inner-container--md;
  }

  .header__wrapper {
    width: auto;
    padding: 0;
    border-bottom: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    display: flex;
    width: 440px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 57px 0;

    @include inner-container--lg;

    &--absolute {
      position: absolute;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
    }
  }

  .header__wrapper {
    width: 250px;
  }

  .header__nav {
    width: 480px;
  }
}
