.instructions__list {
  padding: 0;
  list-style: none;
}

.instructions__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 35px;
  @include default-text(14px, 18px);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background: no-repeat 50% 50% $color-apple;
  }

  &--leaf::before {
    background-image: url('../img/advantage-leaf@1x.png');
  }

  &--boiled::before {
    background-image: url('../img/advantage-powder@1x.png');
  }

  &--cutlery::before {
    background-image: url('../img/advantage-dining@1x.png');
  }

  &--clock::before {
    background-image: url('../img/advantage-clock@1x.png');
  }
}
