.instructions {
  @include inner-container--responsive;
}

.instructions__list {
  margin: 30px 0 63px;
  padding: 0;
  list-style: none;
}

.instructions__item {
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
  margin-bottom: 26px;

  @include default-text(14px, 18px);

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background: no-repeat 50% 50% $color-apple;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--boiled::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--cutlery::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .instructions {
    border-bottom: 1px solid $color-mercury;
  }

  .instructions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    counter-reset: instructions-list;
  }

  .instructions__item {
    position: relative;
    width: 270px;
    padding-left: 0;
    padding-right: 24px;
    margin: 32px 54px 101px 0;

    @include text-size(16px, 24px);

    &::before {
      position: static;
      display: block;
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    &::after {
      position: absolute;
      top: -40px;
      right: 8px;
      z-index: -1;
      width: 169px;
      content: counters(instructions-list, ".") " ";
      counter-increment: instructions-list;
      text-align: center;
      color: $color-concrete;

      @include text-size(281px);
      font-family: $font-family-oswald;
    }
  }
}
