.instructions {
  @include inner-container--sm;
}

.instructions__list {
  margin: 30px 0 63px;
  padding: 0;
  list-style: none;
}

.instructions__item {
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
  margin-bottom: 26px;

  @include default-text(14px, 18px);

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background: $color-apple 50% 50% no-repeat;
    background-size: 50px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @include background-image-retina-x2("../img/advantage-leaf@2x.png");
  }

  &--boiled::before {
    background-image: url("../img/advantage-powder@1x.png");

    @include background-image-retina-x2("../img/advantage-powder@2x.png");
  }

  &--cutlery::before {
    background-image: url("../img/advantage-dining@1x.png");

    @include background-image-retina-x2("../img/advantage-dining@2x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @include background-image-retina-x2("../img/advantage-clock@2x.png");
  }
}

.instructions__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .instructions {
    padding-bottom: 1px;
    border-bottom: 1px solid $color-mercury;
  }

  .instructions__title {
    @include inner-container--md;
  }

  .instructions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    @include inner-container--md;

    counter-reset: instructions-list;
  }

  .instructions__item {
    position: relative;
    width: 270px;
    padding-left: 0;
    margin: 32px 54px 101px 0;

    @include text-size(16px, 24px);

    &::before {
      position: static;
      display: block;
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    &::after {
      position: absolute;
      top: -40px;
      right: 8px;
      z-index: -1;
      width: 169px;
      content: counters(instructions-list, ".") " ";
      counter-increment: instructions-list;
      text-align: center;
      color: $color-concrete;

      @include text-size(281px);
      font-family: $font-family-oswald;
    }
  }

  .instructions__text {
    padding-right: 24px;
  }
}

@media (min-width: $desktop-width) {
  .instructions {
    border-bottom: none;

    @include inner-container--lg;
  }

  .instructions__title {
    margin: 75px 0 40px;
  }

  .instructions__list {
    justify-content: flex-start;
  }

  .instructions__item {
    margin-right: 0;
    width: 245px;

    &:not(:last-child) {
      margin-right: 80px;
    }

    &::after {
      right: auto;
      left: 93px;
    }
  }

  .instructions__text {
    padding-right: 0;
  }
}
