.local-promo {
  padding: 65px 0 45px;
  background-repeat: no-repeat;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @include background-image-retina-x2("../img/gift-photo-mobile@2x.jpg");
}

.local-promo__text {
  width: 189px;
  margin: 0 auto;

  @include default-text(16px, 19px, $color-white);
  text-align: center;
}

.local-promo__icon {
  width: 55px;
  height: auto;
  margin: auto;
  margin-bottom: 58px;
  fill: $color-white;
}

@media (min-width: $tablet-width) and (max-width: $tablet-width--max) {
  .local-promo {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 96px 69px 91px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @include background-image-retina-x2("../img/gift-photo-tablet@2x.jpg");
  }

  .local-promo__icon {
    margin: 0;
  }

  .local-promo__text {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .local-promo {
    display: block;
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @include background-image-retina-x2("../img/gift-photo-desktop@2x.jpg");
  }
}
