.logo {
  display: inline-flex;
  width: 193px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  width: 35px;
  height: 40px;
}

.logo__header {
  display: inline-block;
  width: 105px;
  height: 25px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 176px;
  }

  .logo__icon {
    width: 173px;
    height: 60px;
  }

  .logo__header--sm {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: auto;
  }

  .logo__icon {
    width: 202px;
    height: 61px;
  }

  .logo__header {
    width: 119px;
    height: 23px;
  }
}
