.logo {
  display: inline-flex;
  width: 193px;
  justify-content: space-between;
  align-items: center;

  @include link;
}

.logo__icon {
  width: 35px;
  height: 40px;
}

.logo__header {
  display: inline-block;
  width: 105px;
  height: 25px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 176px;
  }

  .logo__icon {
    width: 72px;
    height: 64px;
  }

  .logo__header {
    width: 85px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 202px;
  }

  .logo__icon {
    width: 70px;
    height: 59px;
  }

  .logo__header {
    width: 119px;
    height: 23px;
  }
}
