.main-promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: $color-white;

  @include background-image-retina-x2("../img/index-background-mobile@2x.jpg");
}

.main-promo__container {
  position: relative;

  @include inner-container--responsive;
}

.main-promo__body {
  margin-bottom: 3px;

  &::after {
    content: "";
    display: block;
    height: 270px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include background-image-retina-x2("../img/index-can-mobile@2x.png");
  }
}

.main-promo__title {
  margin: 0 0 25px;

  @include text-size(36px);
  font-weight: 400;
}

.main-promo__slogan {
  margin-bottom: 29px;
  display: block;

  @include text-size(14px);
  font-weight: 400;
  text-transform: uppercase;
}

.main-promo__wrapper {
  padding-top: 27px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .main-promo {
    padding: 0 $container-padding--md;
    background: none;
    position: relative;
  }

  .main-promo__container {
    min-height: 841px;
  }

  .main-promo__wrapper {
    width: 427px;
    padding-top: 30px;
    margin-left: 88px;
  }

  .main-promo__body {
    margin-bottom: 43px;

    &::after {
      position: absolute;
      left: 0;
      bottom: 7px;
      z-index: 0;
      width: 100%;
      height: 612px;
      background-size: 711px auto;
      background-position-y: 9px;
      background-image: url("../img/index-can-tablet@1x.jpg");

      @include background-image-retina-x2("../img/index-can-tablet@2x.jpg");
    }
  }

  .main-promo__title,
  .main-promo__slogan {
    text-align: left;
    color: $color-codgray;
  }

  .main-promo__title {
    margin-bottom: 42px;

    @include text-size(60px);
  }

  .main-promo__slogan {
    margin-bottom: 0;

    @include text-size(20px);
  }

  .main-promo__button {
    position: relative;
    z-index: 1;
    width: 245px;
  }
}


@media (min-width: $desktop-width) {
  .main-promo {
    max-width: $desktop-width--max;
    margin: auto;
    min-height: 610px;
    padding-top: 140px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-size: 680px auto;
    background-position: top right;

    @include background-image-retina-x2("../img/index-background-desktop@2x.jpg");
  }

  .main-promo__container {
    min-height: auto;
  }

  .main-promo__wrapper {
    padding-top: 82px;
    margin-left: 80px;
  }

  .main-promo__body {
    margin-bottom: 52px;

    &::after {
      right: 219px;
      left: auto;
      top: -6px;
      width: 550px;
      height: 515px;
      background-position: center;
      background-size: contain;
      background-image: url("../img/index-can-desktop@1x.png");

      @include background-image-retina-x2("../img/index-can-desktop@2x.png");
    }
  }
}
