.main-promo {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: top center;
  text-align: center;
  color: $color-white;
}

.main-promo__body {
  margin-bottom: 3px;

  &::after {
    content: "";
    display: block;
    height: 270px;
    background: url("../img/index-can-mobile@1x.png") no-repeat center;
  }
}

.main-promo__title {
  margin: 0 0 25px;

  @include text-size(36px);
  font-weight: 400;
}

.main-promo__slogan {
  margin-bottom: 29px;
  display: block;

  @include text-size(14px);
  font-weight: 400;
  text-transform: uppercase;
}

.main-promo__wrapper {
  padding-top: 27px;
  padding-bottom: 22px;

  @include inner-container--sm;
}

@media (min-width: $tablet-width) {
  .main-promo {
    min-height: 841px;
    padding: 0 $container-padding--md;
    background: none;
    position: relative;
  }

  .main-promo__wrapper {
    width: 427px;
    padding-top: 30px;
    margin-left: 89px;
  }

  .main-promo__body {
    margin-bottom: 43px;

    &::after {
      position: absolute;
      left: 0;
      bottom: 7px;
      z-index: 0;
      width: 100%;
      height: 603px;
      background-size: contain;
      background-position: 117px 0;
    }
  }

  .main-promo__title,
  .main-promo__slogan {
    text-align: left;
    color: $color-codgray;
  }

  .main-promo__title {
    margin-bottom: 42px;

    @include text-size(60px);
  }

  .main-promo__slogan {
    margin-bottom: 0;

    @include text-size(20px);
  }

  .main-promo__button {
    position: relative;
    z-index: 1;
    width: 245px;
  }
}


@media (min-width: $desktop-width) {
  .main-promo {
    min-height: 610px;
    padding-top: 140px;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat;
    background-position: 121% top;
    background-size: 731px auto;
  }

  .main-promo__wrapper {
    padding-top: 82px;
    margin-left: 89px;
  }

  .main-promo__body {
    margin-bottom: 52px;

    &::after {
      right: 256px;
      left: auto;
      top: 134px;
      width: 521px;
      height: 521px;
      background-position: center;
    }
  }
}
