.main-nav {
  font-size: 20px;
  line-height: 1;
}

.main-nav__link {
  font-weight: 500;
  text-transform: uppercase;
  color: $color-codgray;

  @include link;
}

.main-nav__item {
  text-align: center;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 570px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
  }
}
