.product-catalog {
  margin-bottom: 35px;
}

.product-catalog__action-text {
  margin: 0 0 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $color-codgray;

  &--small {
    @include default-text(12px, 16px);
    text-transform: none;
  }
}

.product-catalog__title {
  margin: 15px 0 29px;

  @include inner-container--responsive;
}

.product-catalog__list {
  margin-bottom: 24px;
}

.product-catalog__additional-products-container {
  @include inner-container--responsive;
}

.product-catalog__additional-products {
  margin-bottom: 39px;
}

.product-catalog__additional-list {
  border-top: 1px solid $color-mercury;
}

.product-catalog__item {
  border-top: 1px solid $color-mercury;
}

.product-catalog__action {
  border-top: 1px solid $color-mercury;
  border-bottom: 1px solid $color-mercury;
}

.product-catalog__action-inner {
  box-sizing: border-box;
  padding: 26px 0 23px;

  @include inner-container--sm;
}

.product-catalog__action-button {
  margin-top: 21px;
}

.product-catalog__action-inner-icon {
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px;
  fill: $color-alto;

  &--sm {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .product-catalog {
    margin-bottom: 75px;
  }

  .product-catalog__title {
    margin: 32px auto 28px;
  }

  .product-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-top: 55px;

    @include inner-container--md;
  }

  .product-catalog__action {
    padding-top: 82px;
    border: 0;
  }

  .product-catalog__action-inner {
    width: 325px;
    padding: 54px 0 39px;
    align-self: flex-end;
    border: 1px solid $color-mercury;
  }

  .product-catalog__item {
    width: 324px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 58px;
    border: 0;
  }

  .product-catalog__action-text {
    width: 172px;
    margin: 0 auto 26px;

    @include text-size(20px);

    &--small {
      @include text-size(16px, 18px);
    }
  }

  .product-catalog__action-button {
    width: 249px;
    margin: 87px auto 0;
  }

  .product-catalog__additional-products {
    padding-top: 6px;
    margin-bottom: 69px;
  }

  .product-catalog__additional-list {
    border-left: 1px solid $color-mercury;
    border-right: 1px solid $color-mercury;
  }

  .product-catalog__action-inner-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;

    &--sm {
      display: none;
    }

    &--md {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-catalog {
    margin-bottom: 17px;
  }

  .product-catalog__additional-products-container--lg {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  .product-catalog__list {
    @include inner-container--lg;
    margin-bottom: 9px;
  }

  .product-catalog__title {
    margin-top: 19px;
  }

  .product-catalog__additional-products {
    display: flex;
    padding-top: 0;
  }

  .product-catalog__additional-list {
    border-left: 0;
    border-right: 0;
    width: 895px;
  }

  .product-catalog__item {
    width: 570px;
    margin-bottom: 61px;
  }

  .product-catalog__action-inner {
    padding: 53px 0 39px;
    width: 245px;
  }

  .product-catalog__action-button {
    width: 170px;
  }
}
