.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-codgray;
}

.product-card__link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  @include link;
}

.product-card__info-item {
  @include default-text(12px, 16px);
}
