.product-card {
  padding-bottom: 24px;
}

.product-card__title {
  width: 80px;
  margin: 21px 0 12px;

  @include text-size(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;
  color: $color-codgray;
}

.product-card__image-link {
  font-size: 0;
}

.product-card__link {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__info {
  flex-grow: 1;
}

.product-card__info-list {
  width: 100%;

  @include default-text(12px, 14px);
}

.product-card__info-field {
  padding: 0;
}

.product-card__info-value {
  padding: 0;
  text-align: right;
}

.product-card__body {
  display: flex;
}

.product-card__image {
  width: 140px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 0;
  }

  .product-card__container {
    position: relative;
    padding-bottom: 40px;
    background-color: $color-concrete;

    &::before {
      content: "";
      position: absolute;
      height: 82px;
      left: 0;
      right: 0;
      z-index: 0;
      background-color: $color-white;
    }
  }

  .product-card__body {
    display: block;
  }

  .product-card__image-link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 208px;
    padding-bottom: 38px;
  }

  .product-card__link {
    margin-bottom: 19px;
  }

  .product-card__image {
    width: auto;
  }

  .product-card__info {
    margin: 0 38px;
    text-align: center;
  }

  .product-card__button {
    margin: 0 38px;
  }

  .product-card__title {
    width: 130px;
    margin: 0;

    @include text-size(20px);
  }

  .product-card__info-list {
    margin-bottom: 32px;
    border-collapse: collapse;

    @include text-size(16px);
  }

  .product-card__info-field {
    text-align: left;
  }

  .product-card__info-item td {
    padding: 7px 0 8px;
    border-bottom: 1px solid $color-silver;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }
}
