.product-catalog__action-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $color-codgray;

  &--small {
    @include default-text(12px, 16px);
    text-transform: none;
  }
}

.product-catalog__title {
  margin: 15px 0 28px;

  @include inner-container--responsive;
}

.product-catalog__additional-products {
  @include inner-container--responsive;
}

.product-catalog__item {
  border-top: 1px solid $color-mercury;
}

.product-catalog__action {
  border-top: 1px solid $color-mercury;
  border-bottom: 1px solid $color-mercury;
}

.product-catalog__action-inner {
  box-sizing: border-box;
  padding: 78px 0 25px;

  @include inner-container--sm;
}

.product-catalog__action-text {
  margin: 0 0 9px;
}

.product-catalog__action-button {
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .product-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include inner-container--md;
  }

  .product-catalog__action-inner {
    width: 325px;
    align-self: flex-end;
  }

  .product-catalog__item {
    width: 324px;
    padding-right: 0;
    padding-left: 0;
    border: 0;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-catalog__list {
    @include inner-container--lg;
  }

  .product-catalog__actio-inner {
    width: 245px;
  }

  .product-catalog__additional-products {
    display: flex;
  }

  .product-catalog__additional-list {
    width: 895px;
  }

  .product-catalog__item:not(:last-child) {
    margin-right: 80px;
  }

  .product-catalog__item {
    width: 570px;
  }
}
