.program-card__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-codgray;
}

.program-card__link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  @include link;
  color: $color-codgray;
}

.program-card__description {
  @include default-text(14px, 18px);
}
