.result-example {
  background-color: $color-concrete;
}

.result-example__title {
  @include inner-container--sm;
}

.result-example__body {
  @include inner-container--sm;
}

.result-example__description {
  margin: 0 0 25px;
  padding-right: 5px;

  @include default-text(14px, 18px);
}

.result-example__statistics {
  text-align: center;
}

.result-example__statistic-item {
  position: relative;
  padding-bottom: 15px;

  @include default-text(12px);
}

.result-example__statistic-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 19px;
  padding: 0;
  align-items: center;
  list-style: none;
}

.result-example__statistic-data {
  display: block;
  box-sizing: border-box;
  width: 124px;
  border: 1px solid $color-alto;
  padding: 13px 5px 17px;

  @include text-size(24px);
  font-weight: 400;
  word-wrap: break-word;
  font-family: $font-family-oswald;
  text-transform: uppercase;
  color: $color-codgray;
}

.result-example__statistic-label {
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 59px;
  padding: 0 14px;
  background-color: $color-concrete;
}

.result-example__money-spent {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.result-example__image {
  display: block;
  width: 100%;

  &--after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .result-example {
    padding: 0;
    background-color: transparent;
  }

  .result-example__info {
    @include inner-container--md;
  }

  .result-example__title {
    @include inner-container--md;
  }

  .result-example__control {
    background-color: $color-concrete;
  }

  .result-example__control-inner {
    @include inner-container--md;
  }

  .result-example__statistics {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .result-example__title {
    @include inner-container--lg;
  }

  .result-example__body {
    display: flex;
    justify-content: space-between;
    background-color: $color-concrete;
  }

  .result-example__body-inner {
    @include inner-container--lg;
  }

  .result-example__statistics {
    display: block;
  }

  .result-example__info {
    width: 415px;
  }
}
