.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: inline-block;
  width: 54px;
  text-align: center;

  @include link--active;

  &:hover .social__link-image {
    fill: $color-apple;
  }
}

.social__item {
  font-size: 0;
}

.social__link-image {
  display: none;
  width: 23px;
  height: 19px;
  fill: $color-dove-gray;

  &--sm {
    display: inline-block;
  }

  &--instagram {
    width: 16px;
    height: 20px;
  }

  &--facebook {
    width: 10px;
    height: 23px;
  }

  &--vkontakte {
    width: 22px;
    height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    width: 37px;
  }

  .social__link-image {
    &--sm {
      display: none;
    }

    &--md {
      display: inline-block;
    }

    &--instagram {
      width: 23px;
      height: 25px;
    }

    &--facebook {
      width: 24px;
      height: 28px;
    }

    &--vkontakte {
      width: 30px;
      height: 16px;
    }
  }

  .social__item {
    margin-right: 14px;
  }

  .social__list {
    justify-content: flex-start;
  }
}
