.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: inline-block;
  width: 23px;
  height: 19;

  &--instagram {
    width: 23px;
    height: 18px;
  }

  &--facebook {
    width: 14px;
    height: 16px;
  }

  &--vkontakte {
    width: 23px;
    height: 16px;
  }
}

.social__item {
  font-size: 0;

  // &:not(:last-child) {
  //   margin-right: 32px;
  // }
}

.social__link-image {
  display: none;

  &--sm {
    display: inline-block;
  }
}
