@mixin text-size($font-size, $line-height: 1) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin default-text($font-size: $base-font-size, $line-height: 1, $color: $color-tundora) {
  @include text-size($font-size, $line-height);
  font-family: $font-family-arial;
  text-transform: none;
  font-weight: 400;
  color: $color;
}

@mixin link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin inner-container--sm {
  @media (min-width: $mobile-width) and (max-width: $mobile-width--max) {
    width: $content-width--sm;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin inner-container--md {
  @media (min-width: $tablet-width) and (max-width: $tablet-width--max) {
    width: $content-width--md;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin inner-container--lg {
  @media (min-width: $desktop-width) {
    width: $content-width--lg;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin inner-container--responsive {
  @include inner-container--sm;
  @include inner-container--md;
  @include inner-container--lg;
}
