@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin default-text($font-size: $base-font-size, $line-height: 1, $color: $color-tundora) {
  @include text-size($font-size, $line-height);
  font-family: $font-family-arial;
  text-transform: none;
  color: $color;
}

@mixin control-text {
  @include text-size(16px, 18px);
  text-transform: uppercase;
}

@mixin link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
