@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin default-text($font-size: $base-font-size, $line-height: 1, $color: $color-tundora) {
  @include text-size($font-size, $line-height);
  font-family: $font-family-arial;
  text-transform: none;
  color: $color;
}

@mixin control-text {
  @include text-size(16px, 18px);
  text-transform: uppercase;
}

@mixin link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin inner-container--sm {
  padding-left: $container-padding--sm;
  padding-right: $container-padding--sm;
}

@mixin inner-container--md {
  padding-left: $container-padding--md;
  padding-right: $container-padding--md;
}

@mixin inner-container--lg {
  padding-left: $container-padding--lg;
  padding-right: $container-padding--lg;
}

@mixin inner-container--responsive {
  @include inner-container--sm;

  @media (min-width: $tablet-width) {
    @include inner-container--md;
  }

  @media (min-width: $desktop-width) {
    @include inner-container--lg;
  }
}
