// Colors
$color-white: #ffffff;
$color-codgray: #111111;
$color-mineshaft: #222222;
$color-tundora:#444444;
$color-apple: #68b738;
$color-apple-dark: #5eaa2f;
$color-mantis: #8fc46e;
$color-concrete:#f2f2f2;
$color-silver: #b9b9b9;
$color-gallery: #ebebeb;
$color-mercury: #e6e6e6;

$color-primary: $color-apple;
$color-primary-dark: $color-apple-dark;
$color-primary-pale: $color-mantis;

// Fonts
$font-family-arial: "Arial", "Geneva", "Helvetica", sans-serif;
$font-family-oswald: "Oswald", "Arial", "Geneva", "Helvetica", sans-serif;

$font-size-base: 16px;

$mobile-width: 320px;
$mobile-width--max: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$container-padding--sm: 20px;
$container-padding--md: 30px;
$container-padding--lg: 110px;
