html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-oswald;
  margin: 0 auto;
  width: $mobile-width;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
  }
}
