html {
  font-size: $font-size-base;
}

body {
  margin: 0;
  font-family: $font-family-oswald;
}

img {
  max-width: 100%;
  height: auto;
}

// @media (min-width: $tablet-width) {
//   body {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     position: relative;
//     width: $desktop-width;
//   }
// }
